.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background-color: #f56a29;
  height: 40px;
  align-items: center;
}

.accountButtons {
  display: flex;
  justify-content: flex-start;
}
.navButtons {
  display: flex;
  justify-content: flex-end;
}

.accountButton {
  padding: 10px;
  border-left: white 1px solid;
  border-right: white 1px solid;
}
.navButton {
  padding: 10px;
}

.offres {
  background-color: #fafafa;
}
.annonce .annonceTitle {
  color: #658baf;
}
.annonce .annoncePrice {
  color: #f56a29;
}

.annonce {
  display: flex;
  padding: 10px;
  border: solid 1px grey;
  margin: 20px 100px;
  background-color: white;
}
.annonce .rightAnnonce {
  width: 100px;
}
